.ProductHeaderText {
  text-align: center;

  font-size: 32px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;

  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
}

.ProductsContainer {
  height: 400px;
  width: 200px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.TopProductContainer {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  margin-top: 40px;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 70%;
}

.ProductImgContainer > img {
  width: 100%;
  max-height: 100%;
}
.ProductImgContainer {
  height: 14.5rem;
  display: flex;
  align-items: flex-end;
}

.ProductListInfo {
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "ubuntu";
}

.productCategory {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
}

.productName {
  font-size: 18px;
  text-align: center;
}

.productPrice {
  font-size: 22px;
}

.productButton > button {
  padding: 5px 20px;
  background-color: white;
  border: 2px solid #61677a;
  cursor: pointer;
  position: relative;
}

.PopupContainer {
  position: fixed;

  align-items: flex-start;
  margin-left: 20px;
  height: fit-content;

  width: 20vw;

  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
  z-index: 10;
  flex-grow: 1;
  margin-right: 81%;
}

.EmptyCart {
  font-size: 32px;
  text-align: center;
  margin-top: 10rem;
}
